<html>
<head> </head>
<body>

<form method="post">
    <fieldset>
        <legend>Recherche </legend>
        Validité : <input type="text" name="p"> </br>
        <input class="btn btn-primary" type="submit" value="rechercher">
    </fieldset>

</form>
</body>
</html>